:root {
    --black-color: #000000;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins/Poppins-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('image/sun.jpg');
    background-size: cover;
    background-position: center;
}

.wrapper {
    position: relative;
    width: 380px;
    height: 420px;
    background: transparent;
    border-radius: 10px;
}

.wrapper .login-box {
    position: absolute;
    background: transparent;
    border: 3px solid #fff;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: column;
    padding: 50px 50px;
    z-index: 2;
    width: 370px;
    height: 410px;
    margin: 5px;
}

.wrapper .login-box .login-header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 140px;
    height: 50px;
    border-radius: 0 0 20px 20px;
}

.login-header {
    font-size: 30px;
    color: var(--black-color);
}

.login-header::before {
    content: '';
    position: absolute;
    top: 0;
    left: -30px;
    width: 30px;
    height: 30px;
    border-top-right-radius: 50%; /* Fixed missing semicolon */
    background: transparent;
    box-shadow: 15px 0 0 0 #fff;
}

.login-header::after {
    content: '';
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    height: 30px;
    border-top-left-radius: 50%;
    background: transparent;
    box-shadow: -15px 0 0 0 #fff;
}

form {
    margin-top: 30px;
    margin-left: -30px;
}

.input-box {
    position: relative;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 330px;
}

.input-field {
    font-size: 16px;
    background: transparent;
    color: #fff;
    padding: 8px;
    border: 2px solid #fff;
    border-radius: 30px;
    outline: none;
    z-index: 1;
}

input[type="text"],
input[type="password"] {
    padding-left: 20px;
}

#user {
    margin-bottom: 10px;
}

.label {
    position: absolute;
    top: 20px;
    left: 30px;
    transition: .2s;
    color: #fff;
}

i {
    position: absolute;
    top: 25px;
    right: 30px;
    color: #fff;
}

.input-field:focus ~ .label,
.input-field:valid ~ .label {
    position: absolute;
    top: 0;
    left: 30px;
    font-size: 14px;
    background-color: #fff;
    color: black;
    width: 30%;
    text-align: center;
    border-radius: 30px;
    z-index: 10;
}

.input-field:not(:placeholder-shown).input-field:not(:focus) + .label {
    top: 0;
    left: 30px;
    font-size: 14px;
    background-color: #fff;
    color: black;
    width: 30%;
    text-align: center;
    border-radius: 30px;
    z-index: 10;
}

.remember-forgot {
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    margin: 10px 10px 15px; /* Fixed missing unit */
    color: #fff;
}

.remember-forgot label input {
    margin-right: 3px;
    accent-color: #f4b342;
}

.remember-forgot a {
    text-decoration: none;
    color: #fff;
}

.remember-forgot a:hover {
    color: #f4b342; /* Fixed typo */
}

.input-submit {
    width: 100%;
    font-size: 16px;
    background-color: #fff;
    color: black;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 8px;
    border: none;
    border-radius: 30px;
    box-shadow: 5px 5px 50px #fff;
    outline: none;
    cursor: pointer;
}

.input-submit:hover {
    background-color: #f4b342;
    color: #fff;
    box-shadow: 5px 5px 50px #face68;
}

.register {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-left: 25px;
    font-size: 14px;
    color: #fff;
}

.register a {
    text-decoration: none;
    color: #fff;
    margin-left: 5px;
}

.register a:hover {
    color: #f4b342;
}

